.cards-features > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 24px;
}

.cards-features > ul > li {
  background-color: var(--background-color);
}

.cards-features .cards-features-card-body {
  margin: 0;
}

.cards-features .cards-features-card-body p {
  margin: 0;
  font-size: var(--body-font-size-s);
}

@media (width >= 900px) {
  .cards-features > ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
